baseURL = 'https://aquarium-project.pages.dev/'
languageCode = 'en-us'
title = 'Aquarium Products Store'

[taxonomies]
  type = 'type'
  subType = 'subType'
  category = 'category'
  subCategory = 'subCategory'
  brand = 'brand'

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
