@import "tailwindcss";
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: 100%;
  }
  body {
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto";
    line-height: 1.5;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
  }
  h3 {
    font-size: 1.17em;
    margin: 1em 0;
  }
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  a {
    color: -webkit-link;
    text-decoration: underline;
    cursor: pointer;
  }
  input,
  select {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 0.25em 0.5em;
  }
  ul {
    padding-left: 2.5em;
  }
  li {
    display: list-item;
  }
}
