<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partial "css.html" . }}
    {{ end }}
    <link rel="stylesheet" href="/dist/css/app.css" />
    <title>
      {{ .Site.Title }}
    </title>
  </head>
  <body>
    {{ block "main" . }}{{ end }}
    <script type="module" src="/dist/js/svelte.js"></script>
  </body>
</html>
